{% extends 'core/base.html' %}

{% block title %}{{ boardgame.title }}{% endblock %}

{% block content %}
    <div class="grid grid-cols-6 gap-6">
        <div class="col-span-1">
        </div>
        <div class="col-span-3">
        <img src="{{ boardgame.image.url }}" alt="" class="rounded-xl object-contain h-screen w-full object-center">
        </div>

        <div class="col-span-2 p-6 py-20 bg-white-100 rounded-xl ">
            <h1 class="mb-6 text-4xl font-bold"> {{ boardgame.title }} </h1>
                                                    
            <div class="flex items-center pt-1">
                {% comment %} <p class="text-xl text-gray-500"><strong>Đánh giá: </strong>{{ average_stars }}</p> {% endcomment %}
            
                <!--Vẽ sao đánh giá-->
                {% comment %} {% for star in draw_average_stars %}
                    <svg aria-hidden="true" class="w-5 h-5 text-[#0FB3AF]" fill="currentColor" viewBox="0 0 20 20">
                        <title> {{star}}</title>
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                {% endfor %}  
            
                {% for non_star in draw_non_stars %}
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-300 " fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg> 
                {% endfor %} {% endcomment %}
            </div>
                                                    
            <div class="flex items-center pt-1">
                {% comment %} <p class="text-xl text-gray-500"><strong>Đánh giá: </strong>{{ average_stars }}</p> {% endcomment %}
            
                <!--Vẽ sao đánh giá-->
                {% comment %} {% for star in draw_average_stars %}
                    <svg aria-hidden="true" class="w-5 h-5 text-[#0FB3AF]" fill="currentColor" viewBox="0 0 20 20">
                        <title> {{star}}</title>
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg>
                {% endfor %}  
            
                {% for non_star in draw_non_stars %}
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-300 " fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                        </path>
                    </svg> 
                {% endfor %} {% endcomment %}
            </div>

            <p class="text-xl text-gray-500"><strong>Phiên bản: </strong>{{ boardgame.version}}</p>
            <p class="text-xl text-gray-500"><strong>Giá thuê: </strong>{{ boardgame.rental_price}}00 VNĐ / Ngày</p>
            <p class="text-xl text-gray-500"><strong>Số lượng hiện có: </strong>{{ boardgame.in_stock }} Boardgame</p>
            <p class="text-xl text-gray-500"><strong>Thời gian: </strong>{{ boardgame.play_time}} phút</p>
            <p class="text-xl text-gray-500"><strong>Độ tuổi: </strong>{{ boardgame.age_rating}} </p>
            <p class="text-xl text-gray-500"><strong>Số lượng người chơi: </strong>{{ boardgame.people }} người</p>
            <p class="text-xl text-gray-500"><strong>Tác giả: </strong>{{ boardgame.author }} </p>
            <p class="text-xl text-gray-500"><strong>Nhà xuất bản: </strong>{{ boardgame.producer}}</p>
            <p class="text-xl text-gray-500"><strong>Năm sản xuất: </strong>{{ boardgame.publication_year}}</p>
            
            <a  href="#" 
                class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-[#c32f2f] text-white rounded-xl hover:bg-[#871313]">
                Thuê
            </a>
        </div>
        
        <div class="col-start-2 col-span-3 p-6 bg-gray-100 rounded-xl">
            <p class="text-xl text-gray-500"><strong>Mô tả: </strong>{{ boardgame.description }}</p>
            <p class="text-xl text-gray-500"><strong>Luật chơi: </strong>{{ boardgame.rule}}</p>
            
        </div>

        <!-- Hiển thị danh sách đánh giá -->
        <div class="col-start-2 col-span-3 p-6 bg-gray-100 rounded-xl comment-list">
            <div>
                <h4 class="text-xxl text-gray-500"> Customer reviews </h4>

                <p class="text-xl text-gray-500"><strong>Tổng đánh giá: </strong>{{ reviews.count }}</p>
                {% for r in page_obj %}
                    <div class="review">
                        <p class="text-xl text-gray-500"><strong>Người đánh giá: </strong>{{ r.user_reviews.username|title }}</p>
                        <p class="text-xl text-gray-500"><strong>Thời gian đánh giá: </strong>{{ r.date| date:"d M, Y" }}</p>
                        <p class="text-xl text-gray-500"><strong>Đánh giá: </strong>{{ r.review }}</p>
                        <p class="text-xl text-gray-500"><strong>Số sao: </strong>{{ r.rating}}</p>
                    </div>
                {% empty %}
                    <p>No reviews yet.</p>
                {% endfor %}
            </div>
            <!-- Chuyển trang -->
            <div class="text-center">
                {% if page_obj.has_other_pages %}
                    <div class="pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">First</a>
                            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if num == page_obj.number %}
                                <span class="current-page">{{ num }}</span>
                            {% else %}
                                <a href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">Next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        {% endif %}
                    </div>
                {% endif %} 
            </div>
        </div>

    
        <div class="col-span-2 p-6 bg-gray-100 rounded-xl comment-list">
            <h4 class="text-xxl text-gray-500"> Star reviews </h4>
            <p class="text-xl text-gray-500"><strong>Trung bình review: </strong>{{ average_rating.rating__avg|floatformat:0 }}</p>

        </div>

        <div class="col-start-2 col-span-3 p-6 bg-gray-100 rounded-xl form-group">
            <h4 class="text-xxl text-gray-500"> Add a review </h4>
            <form method="POST">
                {% csrf_token %}
                {{ review_form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    
    <!-- <p class="text-xl text-gray-500"><strong>Comment: </strong>{{ total_comments }}</p> -->
    
    

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Related boardgames</h2>
    
        <div class="grid grid-cols-3 gap-3">
            {% for boardgame in related_boardgame %}
                <div>
                    <a href="{% url 'boardgame:detail' boardgame.bgid %}">
                        <div class="rounded-t-xl bg-white">
                            <img src="{{ boardgame.image.url }}" class="rounded-t-xl object-contain max-h-48 w-full transition " sizes="100vw">
                        </div>
    
                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ boardgame.title }}</h2>
                            <p class="text-lg text-gray-500">Thời gian: {{ boardgame.play_time }} phút</p>
                            <p class="text-lg text-gray-500">Số lượng người chơi: {{ boardgame.people }} người</p>
                            <!--Số sao-->
                            <!-- {% for boardgame_rating in related_boardgame_rating %}
                                {% if boardgame.name == boardgame_rating.boardgame.name%} 
                                    <div class="flex items-center pt-1">
                                        <div class="text-[#0FB3AF] text-2xl font-medium pr-2 ">
                                            {{ boardgame_rating.average_stars }}
                                        </div>                                            
                                        
                                        {% for star in boardgame_rating.draw_average_stars %}
                                            <svg aria-hidden="true" class="w-5 h-5 text-[#0FB3AF]" fill="currentColor" viewBox="0 0 20 20">
                                                <title> {{star}}</title>
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                </path>
                                            </svg>
                                        {% endfor %}  
                                        
                                        {% for non_star in boardgame_rating.draw_non_stars %}
                                            <svg aria-hidden="true" class="w-5 h-5 text-gray-300 " fill="currentColor" viewBox="0 0 20 20">
                                                <path
                                                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                </path>
                                            </svg> 
                                        {% endfor %} 
                                    </div>
                                {% endif %} 
                            {% endfor %}    -->
                            
                            <!-- Số lượt đánh giá-->
                            <!-- {% for boardgame_rating in related_boardgame_rating %}
                                {% if boardgame.name == boardgame_rating.boardgame.name%} 
                                    <div class="font-thin text-[#7E7E7E] font-['Open Sans'] text-xs">
                                        {{ boardgame_rating.total_comments }} Đánh giá
                                    </div>
                                {% endif %} 
                            {% endfor %}
                        </div> -->
                        
                    </a>
                </div>
            {% endfor %}
        </div>
    </div> 
    
{% endblock %}