<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./test.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./Tailwind/build/tailwind.css">
    <link rel="stylesheet" href="./font.css">
</head>

<body>
    <div>
        <div class="grid grid-cols-3 gap-4 justify-items-center items-center">
            <div class="text-black font-semibold text-3xl pt-6 justify-self-start">
                Logo
            </div>
            <div class="flex pt-6 gap-x-6">
                <a href="#" class=" text-black hover:text-[#0FB3AFCC] rounded-md px-3 py-2 text-md font-medium"
                    aria-current="page">
                    Trang chủ
                </a>
                <a href="#" class=" text-black hover:text-[#0FB3AFCC] rounded-md px-3 py-2 text-md font-medium"
                    aria-current="page">
                    Thể loại
                </a>
                <a href="#" class=" text-black hover:text-[#0FB3AFCC] rounded-md px-3 py-2 text-md font-medium"
                    aria-current="page">
                    Xếp hạng
                </a>
                <a href="#" class=" text-[#0FB3AF] hover:text-[#0FB3AFCC] rounded-md px-3 py-2 text-md font-medium"
                    aria-current="page">
                    Tài khoản
                </a>
            </div>
            <div class="pt-6 mx-6xl flex space-x-8 justify-self-end px-6">
                <a href=""><button type="button"
                        class=" text-black-400 hover:text-gray-500 rounded-full focus:ring-offset-black-800">
                        <i class="fa fa-bell fa-lg"></i>
                    </button></a>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-2 justify-items-center px-56 pt-32">
        <div class="pt-6 self-center">
            <button type="button" class="w-full mb-6 h-56 sm:h-48 sm:w-56 sm:mb-0">
                <img src="https://source.unsplash.com/100x100/?portrait?1" alt=""
                    class="object-cover object-center w-full h-full rounded">
            </button>
        </div>
        <div class="justify-self-start">
            <div class="pb-8 text-3xl font-bold font-[Open Sans]">
                Tên đăng nhập
            </div>
            <table class="font-[Open Sans]">
                <tbody>
                    <tr>
                        <td class="text-[#0FB3AF]">MSKH:</td>
                        <td class="pl-8">12345678 </td>
                    </tr>
                    <tr>
                        <td class="text-[#0FB3AF]">Họ và tên:</td>
                        <td class="pl-8">ABC</td>
                    </tr>
                    <tr>
                        <td class="text-[#0FB3AF]">Số điện thoại:</td>
                        <td class="pl-8">0123456789</td>
                    </tr>
                    <tr>
                        <td class="text-[#0FB3AF]">Email:</td>
                        <td class="pl-8">abc@gmail.com</td>
                    </tr>
                    <tr>
                        <td class="text-[#0FB3AF]">Điểm tích lũy:</td>
                        <td class="pl-8">400</td>
                    </tr>
                    <tr>
                        <td class="text-[#0FB3AF]">Địa chỉ:</td>
                        <td class="pl-8">123/45/678/9</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-[#0FB3AF] italic pt-2">
                <a class="no-underline border-b border-blue text-blue text-[#0FB3AF]" href="../changePassword/">
                    Đổi mật khẩu
                </a>
            </div>
            <div class="sm:flex sm:space-x-8 pt-6 font-medium">
                <button type="button" class="bg-[#C32F2F] hover:bg-[#C32F2FCC] rounded-md px-3 text-sm h-8
                    text-white" style="font-family: Maven Pro;">
                    Đăng xuất
                </button>
                <a href="">
                    <button type="button" class="bg-[#0FB3AF] hover:bg-[#0FB3AFCC] rounded-md px-3 text-sm h-8
                    text-white" style="font-family: Maven Pro;">
                        Chỉnh sửa thông tin
                    </button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>