{% extends 'core/base.html' %}
{% load static %}

{% block title %}All Category{% endblock %}

{% block content %}
    <div>
        <div class="text-center pt-12 text-3xl font-bold text-[#0FB3AF]">Thể loại</div>
        <div class="text-center pt-3 text-md text-[#3C3C3B] font-['Open Sans']">More then 10000 clients who are
            happy with Us. Are You Next One?</div>
    </div>

    <div class="grid grid-row-2 gap-2">
        {% for categori in categories %} 
            <div class="text-left pt-6 text-xl font-medium text-[#0FB3AF] px-48 pb-4">{{ categori.name }}</div>
            
            <!-- Hiển thị boardgame -->
            <div class="grid grid-cols-3 gap-2 justify-items-center items-center pl-32 pr-32">
                {% for boardgame in boardgames %}
                    {% if boardgame.category.name == categori.name %}
                        <div class="relative pb-4 max-w-sm w-full h-full bg-white border border-gray-200 rounded-xl shadow dark:bg-gray-800 dark:border-gray-700">
                            <!-- href -> đi tới boardgame cụ thể -->
                            <a href="{% url 'boardgame:detail' boardgame.id %}" class=" w-full">
                                <!-- Thông tin boardgame -->
                                <div>
                                    <img class="rounded-t-lg object-contain max-h-48 w-full transition " 
                                         sizes="100vw" src="{{ boardgame.image.url }}">
                                </div>

                                <div class="font-medium px-3">
                                    {{ boardgame.name }}
                                </div>
                                <table class="font-thin text-[#7E7E7E] font-['Open Sans'] text-xs pt-1 mx-3">
                                    <tbody>
                                        <tr>
                                            <td>
                                                Số lượng người chơi:
                                            </td>
                                            <td class="px-3">
                                                {{ boardgame.people }} (người)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Thời gian:
                                            </td>
                                            <td class="px-3">
                                                {{ boardgame.play_time }} phút
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!--Số sao-->
                                {% for boardgame_rating in boardgame_ratings %}
                                    {% if boardgame.name == boardgame_rating.boardgame.name%}
                                        <div class="flex items-center pt-1">
                                            <div class="text-[#0FB3AF] text-2xl font-medium pr-2 px-3">
                                                {{ boardgame_rating.average_stars }}
                                            </div>
                                            {% for star in boardgame_rating.draw_average_stars %}
                                                <svg aria-hidden="true" class="w-5 h-5 text-[#0FB3AF]" fill="currentColor" viewBox="0 0 20 20">
                                                    <title> {{star}}</title>
                                                    <path
                                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                    </path>
                                                </svg>
                                            {% endfor %}  
                                            
                                            {% for non_star in boardgame_rating.draw_non_stars %}
                                                <svg aria-hidden="true" class="w-5 h-5 text-gray-300 " fill="currentColor" viewBox="0 0 20 20">
                                                    <path
                                                        d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                                                    </path>
                                                </svg> 
                                            {% endfor %}
                                        </div>
                                    {% endif %} 
                                {% endfor %} 

                                <!-- Số lượt đánh giá-->
                                {% for boardgame_rating in boardgame_ratings %}
                                    {% if boardgame.name == boardgame_rating.boardgame.name%}
                                        <div class="font-thin text-[#7E7E7E] font-['Open Sans'] text-xs px-3">
                                            33 đánh giá
                                        </div>
                                    {% endif %} 
                                {% endfor %} 

                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class=" grid justify-items-center items-center pt-12 ">
                <a  href="#"
                    class="rounded-md h-10 px-6 py-2 text-xs font-bold bg-[#3C3C3B] text-white hover:bg-[#3C3C3BCC] ">
                    Xem tất cả
                </a>
            </div>
        {% endfor %} 
    </div>
    
    <!--Chuyển trang-->
    <div class="grid justify-items-center bg-white pt-16 flex items-center flex-wrap">
        <nav aria-label="Page navigation">
            <ul class="inline-flex space-x-2">
                <li><button
                        class="flex items-center justify-center w-10 h-10 text-[#3C3C3BCC]  rounded-full hover:bg-[#BFF5F3]">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-full h-full p-2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                        </svg>
                </li>
                <li><button
                        class="w-10 h-10 text-[#3C3C3BCC] font-bold font-[Open Sans] rounded-full hover:bg-[#BFF5F3]">1</button>
                </li>
                <li><button
                        class="w-10 h-10 text-white font-bold font-[Open Sans] bg-[#0FB3AF] rounded-full hover:bg-[#BFF5F3] ">2</button>
                </li>
                <li><button
                        class="w-10 h-10 text-[#3C3C3BCC] font-bold font-[Open Sans] rounded-full hover:bg-[#BFF5F3]">3</button>
                </li>
                <li><button
                        class="flex items-center justify-center w-10 h-10 text-[#3C3C3BCC] rounded-full hover:bg-[#BFF5F3]">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-full h-full p-2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                        </svg>
                </li>
            </ul>
        </nav>
    </div>

{% endblock %}