{% extends 'core/base.html' %}
{% load static %}

{% block title %}All Category{% endblock %}

{% block content %}

    <div class="grid grid-cols-2 justify-items-center px-56 pt-32">
        <div class="relative max-w-xs overflow-hidden bg-cover bg-no-repeat pt-6 self-center" data-te-ripple-init
            data-te-ripple-color="light">
            <button type="button"
                class="w-full mb-6 h-56 sm:h-48 sm:w-56 sm:mb-0 rounded-sm focus:outline-none focus:ring focus:ring-gray-300">
                <img src="https://source.unsplash.com/100x100/?portrait?1" alt="Louvre"
                    class="object-cover object-center w-full h-full rounded">
            </button>
            <a href="#!">
                <div
                    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsl(0,0%,98.4%,0.2)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100">
                </div>
            </a>
        </div>
        <div class="justify-self-start">
            <div class="pb-8 text-3xl font-bold font-[Open Sans]">
                Tên đăng nhập
            </div>
            <table class="font-[Open Sans]">
                <tbody>
                    <tr>
                        <td class="text-[#0FB3AF]">MSKH:</td>
                        <td class="pl-8">{{ user.user_id }}</td>
                    </tr>
                    <tr>
                        <td class="text-[#0FB3AF]">Họ và tên:</td>
                        <td class="pl-8">{{ user }} </td>
                    </tr>
                    <tr>
                        <td class="text-[#0FB3AF]">Số điện thoại:</td>
                        <td class="pl-8">{{ user.phone_number }}</td>
                    </tr>
                    <tr>
                        <td class="text-[#0FB3AF]">Email:</td>
                        <td class="pl-8">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td class="text-[#0FB3AF]">Điểm tích lũy:</td>
                        <td class="pl-8">400</td>
                    </tr>
                    <tr>
                        <td class="text-[#0FB3AF]">Địa chỉ:</td>
                        <td class="pl-8">{{ user.address }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-[#0FB3AF] italic pt-2">
                <a class="no-underline border-b border-blue text-blue text-[#0FB3AF]" href="{% url 'core:change_password' %}">
                    Đổi mật khẩu
                </a>
            </div>
            <div class="sm:flex sm:space-x-8 pt-6 font-medium">
                <a href={% url "userauths:sign_out" %}>
                    <button type="button" class="bg-[#C32F2F] hover:bg-[#C32F2FCC] rounded-md px-3 text-sm h-8
                        text-white" style="font-family: Maven Pro;">
                        Đăng xuất
                    </button>
                </a>
                <a href="">
                    <button type="button" class="bg-[#0FB3AF] hover:bg-[#0FB3AFCC] rounded-md px-3 text-sm h-8
                    text-white" style="font-family: Maven Pro;">
                        Chỉnh sửa thông tin
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class=" flex justify-items-center mx-96 mt-16 rounded-xl shadow-lg border border-[#D9D9D9]">
        <div class="w-full h-full md:w-1/3 bg-white grid place-items-center rounded-lg">
            <img src="/media/item_images/Chess.jpg" alt="tailwind logo" class="rounded-xl" />
        </div>
        <div class="grid place-items-center ">
            <div class="font-semibold italic text-lg text-[#0FB3AF] text-[Open Sans]">Boadgame đang đặt chỗ</div>
            <div class="">
                <table>
                    <tbody>
                        <tr>
                            <td>MSBG: 12345678</td>
                            <td class="pl-8">Tên Boardgame: Uno</td>
                        </tr>
                        <tr>
                            <td>Thể loại: Thẻ bài</td>
                            <td class="pl-8">Phiên bản: Mattel</td>
                        </tr>
                        <tr>
                            <td>Số ngày thuê: 30 ngày</td>
                        </tr>
                        <tr>
                            <td>Tiền thuê: 100.000 VNĐ</td>
                            <td class="pl-8">Tiền cọc: 50.000 VNĐ</td>
                        </tr>
                        <tr>
                            <td>Ngày đặt chỗ: 00/00/0000 </td>
                            <td class="pl-8">Giờ đặt chỗ: 00:00 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class=" flex justify-items-center mx-96 mt-8 rounded-xl shadow-lg border border-[#D9D9D9]">

        <div class="w-full h-full md:w-1/3 bg-white grid place-items-center rounded-lg">
            <img src="/media/item_images/Go.jpg" alt="tailwind logo" class="rounded-xl" />
        </div>
        <div class="grid place-items-center ">
            <div class="font-semibold italic text-lg text-[#0FB3AF] text-[Open Sans]">Boadgame đang đặt chỗ</div>
            <div class="">
                <table>
                    <tbody>
                        <tr>
                            <td>MSBG: 12345678</td>
                            <td class="pl-8">Tên Boardgame: Uno</td>
                        </tr>
                        <tr>
                            <td>Thể loại: Thẻ bài</td>
                            <td class="pl-8">Phiên bản: Mattel</td>
                        </tr>
                        <tr>
                            <td>Số ngày thuê: 30 ngày</td>
                        </tr>
                        <tr>
                            <td>Tiền thuê: 100.000 VNĐ</td>
                            <td class="pl-8">Tiền cọc: 50.000 VNĐ</td>
                        </tr>
                        <tr>
                            <td>Ngày đặt chỗ: 00/00/0000 </td>
                            <td class="pl-8">Giờ đặt chỗ: 00:00 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="grid justify-items-center pt-24">
        <div class="text-2xl text-[#0FB3AF] pb-8">Danh sách đơn hàng</div>
        <div>
            <table class="w-full text-sm text-center text-black font-regular">
                <thead class="border-b border-[#A7A7A6] text-xs uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-14 py-3">
                            Tên
                        </th>
                        <th scope="col" class="px-14 py-3">
                            Số ngày
                        </th>
                        <th scope="col" class="px-14 py-3">
                            Ngày thuê
                        </th>
                        <th scope="col" class="px-14 py-3">
                            Ngày trả
                        </th>
                        <th scope="col" class="px-14 py-3">
                            Giá
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b border-[#A7A7A6]">
                        <th scope="row" class="px-14 py-4 whitespace-nowrap">
                            Uno
                        </th>
                        <td class="px-14 py-4">
                            30
                        </td>
                        <td class="px-14 py-4">
                            11/2/2023
                        </td>
                        <td class="px-14 py-4">
                            12/2/2023
                        </td>
                        <td class="px-14 py-4">
                            40000
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="px-56 py-16">
        <div class="text-[#0FB3AF] font-medium py-8 px-8" style="font-family:Maven Pro">Có thể bạn sẽ thích</div>
        <div class="grid grid-cols-3 gap-8 justify-items-center items-center">
            <div
                class="pb-4 max-w-sm w-full h-full bg-white border border-gray-200 rounded-xl overflow-hidden shadow-lg">

                <div class=" w-full">
                    <div><img class="rounded-t-lg object-cover max-h-48 w-full transition " sizes="100vw" srcset=""
                            src="/media/item_images/chess.jpg">
                    </div>
                    <div class="font-medium px-3">
                        UNO
                    </div>
                    <table class="font-thin text-[#7E7E7E] font-['Open Sans'] text-xs pt-1 mx-3">
                        <tbody>
                            <tr>
                                <td>
                                    Số lượng người chơi:
                                </td>
                                <td class="px-3">
                                    5 - 10 (người)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Thời gian:
                                </td>
                                <td class="px-3">
                                    60 phút
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="flex items-center pt-1">
                        <div class="text-[#0FB3AF] text-2xl font-medium pr-2 px-3">
                            4
                        </div>
                        <svg aria-hidden="true" class="w-5 h-5 text-[#0FB3AF]" fill="currentColor" viewBox="0 0 20 20">
                            <title>First star</title>
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                            </path>
                        </svg>
                        <svg aria-hidden="true" class="w-5 h-5 text-[#0FB3AF]" fill="currentColor" viewBox="0 0 20 20">
                            <title>Second star</title>
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                            </path>
                        </svg>
                        <svg aria-hidden="true" class="w-5 h-5 text-[#0FB3AF]" fill="currentColor" viewBox="0 0 20 20">
                            <title>Third star</title>
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                            </path>
                        </svg>
                        <svg aria-hidden="true" class="w-5 h-5 text-[#0FB3AF]" fill="currentColor" viewBox="0 0 20 20">
                            <title>Fourth star</title>
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                            </path>
                        </svg>
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-300 " fill="currentColor" viewBox="0 0 20 20">
                            <title>Fifth star</title>
                            <path
                                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                            </path>
                        </svg>
                    </div>
                    <div class="font-thin text-[#7E7E7E] font-['Open Sans'] text-xs px-3">
                        33 đánh giá
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}