{% extends 'core/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}

    <div class="bg-grey-lighter flex flex-col text-sm mt-32">
        <div class="container max-w-lg mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="grid justify-items-center bg-white px-4 py-4 rounded text-black w-full text-sm">
                <h1 class="mb-8 text-3xl text-center font-bold text-[#3C3C3B]" style="font-family: Maven Pro;">Đổi mật khẩu</h1>
                
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <form method="POST">
                    {% csrf_token %}
                    
                    <div  class=" flex border border-l-4 border-l-[#3C3C3B] w-full p-3 rounded mb-4 focus-within:ring-1 focus-within:ring-[#0FB3AF]">
                        <i class="fa fa-key self-center pr-4 text-[#3C3C3B]  fa-lg" aria-hidden="true"></i>
                        <input type="password" name="old_password" class="focus:outline-none self-center w-full"
                        placeholder="Mật khẩu cũ" required />
                        {{ form.old_password.errors }}
                    </div>
                    <div  class=" flex border border-l-4 border-l-[#3C3C3B] w-full p-3 rounded mb-4 focus-within:ring-1 focus-within:ring-[#0FB3AF]">
                        <i class="fa fa-key self-center pr-4 text-[#3C3C3B]  fa-lg" aria-hidden="true"></i>
                        <input type="password" name="new_password1" class="focus:outline-none self-center w-full"
                        placeholder="Mật khẩu mới" required />
                        {{ form.new_password1.errors }}
                    </div>
                    <div  class=" flex border border-l-4 border-l-[#3C3C3B] w-full p-3 rounded mb-4 focus-within:ring-1 focus-within:ring-[#0FB3AF]">
                        <i class="fa fa-key self-center pr-4 text-[#3C3C3B]  fa-lg" aria-hidden="true"></i>
                        <input type="password" name="new_password2" class="focus:outline-none self-center w-full"
                        placeholder="Xác nhận mật khẩu" required />
                        {{ form.new_password2.errors }}
                    </div>
                
                    {% comment %} <div class="flex items-start pr-56 pt-4">
                        <div class="flex items-center h-5">
                            <input id="remember" aria-describedby="remember" type="checkbox"
                                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 accent-[#3C3C3B] checked">
                        </div>
                        <div class="ml-3 text-sm">
                            <label for="newsletter" class="font-light text-gray-500 dark:text-gray-300">I accept the <a class="font-medium text-primary-600 hover:underline dark:text-primary-500" href="#">Terms and Conditions</a></label>
                        </div>
                    </div> {% endcomment %}

                    <button type="submit" class="bg-[#0FB3AF] hover:bg-[#0FB3AFCC] rounded-md px-3 text-sm h-10 w-28
                        text-white font-semibold">
                        Lưu thay đổi
                    </button>

                </form>
                    
            </div>
            <hr style="width: 100%; height: 1px; background-color: #C4C4C4;">
        </div>
    </div>
{% endblock %}