<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./test.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./Tailwind/build/tailwind.css">
</head>

<body>
    <div class="flex justify-center mt-10">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 mt-3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
        </svg>
        <h1 class="mb-8 ml-10 text-4xl font-bold text-[#3C3C3B]">Thông báo</h1>

    </div>
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
        <div class="w-full h-full md:w-1/3 bg-white grid place-items-center rounded-lg">
            <img src="/media/item_images/Chess.jpg" alt="tailwind logo" class="rounded-xl" />
        </div>
        <div>
            <div class="text-xl font-medium text-black">Thông báo Boardgme mới</div>
            <p class="text-slate-500">UNO</p>
            <p class="text-slate-500">Thể loại: Thẻ bài</p>
            <p class="text-slate-500">Phiên bản: Battle</p>
        </div>
    </div>

</body>