{% extends 'core/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="grid justify-items-center pt-32">
        <div class="text-6xl" style="font-family: My Soul;">Welcome</div>
        <div class="text-3xl pt-8" style="font-family: My Soul;">Sign up and begin your journy with us </div>
    </div>
    <div class="bg-grey-lighter flex flex-col text-sm mt-12">
        <div class="container max-w-lg mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="grid justify-items-center bg-white px-4 py-4 rounded text-black w-full text-sm">
                <h1 class="mb-8 text-3xl text-center font-bold text-[#3C3C3B]" style="font-family: Maven Pro;">Sign up Now</h1>

                <form method="post" action=".">
                    {% csrf_token %}
                    <div  class=" flex border border-l-4 border-l-[#3C3C3B] w-full p-3 rounded mb-4 focus-within:ring-1 focus-within:ring-[#0FB3AF]">
                        <i class="fa fa-user-o self-center pr-4 text-[#3C3C3B]  fa-lg" aria-hidden="true"></i>
                        {{ form.username }} 
                    </div>
                    <div  class=" flex border border-l-4 border-l-[#3C3C3B] w-full p-3 rounded mb-4 focus-within:ring-1 focus-within:ring-[#0FB3AF]">
                        <i class="fa fa-envelope-o self-center pr-4 text-[#3C3C3B]  fa-lg" aria-hidden="true"></i>
                        {{ form.email }} 
                    </div>

                    <div  class=" flex border border-l-4 border-l-[#3C3C3B] w-full p-3 rounded mb-4 focus-within:ring-1 focus-within:ring-[#0FB3AF]">
                        <i class="fa fa-key self-center pr-4 text-[#3C3C3B]  fa-lg" aria-hidden="true"></i>
                        {{ form.password1 }} 
                    </div>

                    <div  class=" flex border border-l-4 border-l-[#3C3C3B] w-full p-3 rounded mb-4 focus-within:ring-1 focus-within:ring-[#0FB3AF]">
                        <i class="fa fa-key self-center pr-4 text-[#3C3C3B]  fa-lg" aria-hidden="true"></i>
                        {{ form.password2 }}
                    </div>
                
                    {% if form.errors or form.non_field_errors %}
                        <div class="mb-3 p-6 bg-red-100 rounded-xl">
                            {% for field in form %}
                                {{ field.errors }}
                            {% endfor %}

                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    <button class="bg-[#0FB3AF] hover:bg-[#0FB3AFCC] rounded-md px-3 text-sm h-10 w-28 text-white font-semibold">
                        Submit
                    </button>
                </form>

                <hr style="width: 100%; height: 1px; background-color: #C4C4C4;">
                <div class="text-[#A7A7A6] mt-8">
                    Already have an account?
                    <a class="no-underline border-b border-blue text-blue text-[#0FB3AF]" href="../signIn/">
                        Sign In
                    </a>
                </div>
            </div>
        </div>      
    </div>
{% endblock %}