<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=My+Soul&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./test.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./Tailwind/build/tailwind.css">
</head>

<body>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="[#0FB3AF]"
        class="m-16 w-16 h-14 fill-[#0FB3AF] hover:fill-[#0FB3AFCC]">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
    </svg>
    <div class="grid justify-items-center pt-4 pb-12">
        <div class="text-4xl text-[#0FB3AF] font-bold" style="font-family: Maven Pro;">Giỏ hàng</div>
    </div>
    <div class="ml-4 grid justify-items-center">
        <div class="mb-10 w-3/5 h-48 rounded-lg border border-gray border-l-4 border-black grid grid-cols-3">
            <div class="flex items-center">
                <input type="checkbox" class="ml-12 w-6 h-6 checked:bg-[#0FB3AF] indeterminate:bg-[#0FB3AF]" />
                <div
                    class="ml-14  self-center w-32 md:w-32 h-32 bg-white grid place-items-center border border-[#D9D9D9] rounded">
                    <img src="/media/boardgame-images/chess2.jpg" alt="" class="rounded w-full h-full" />
                </div>
            </div>
            <div class="self-center">
                <div class="w-full md:w-2/3 bg-white flex flex-col space-y-1 ">
                    <p class="text-black md:text-xl text-4xl font-bold font-[Open Sans]">UNO</p>
                    <p class="text-black md:text-md text-md font-regular font-[Open Sans]">40.000VND/ngày</p>
                </div>
                <div class="mt-6 w-24 h-7 border border-black rounded-lg flex justify-center flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4 bg-[#D9D9D9]">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                    </svg>

                    <p class="ml-4 mr-4 text-black md:text-md text-md font-regular font-[Open Sans]">2</p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-4 h-4 bg-gray bg-[#D9D9D9]">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red"
                class="ml-36 w-16 h-16 self-center stroke-[#C32F2F] hover:stroke-[#B30F0F]">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>
        </div>

    </div>


</body>