{% extends 'core/base.html' %}

{% block title %}{{ boardgame.title }}{% endblock %}

{% block content %}
  <div class="grid justify-items-center">
      <h1 class="mb-8 text-4xl text-center font-bold text-[#3C3C3B]">Nhập thông tin thuê</h1>
      {% comment %} <div class="max-h-96 overflow-y-hidden hover:overflow-y-auto px-8 "> {% endcomment %}
      <form method="POST">
        {% csrf_token %}
        {% comment %} {{ rent_form.start_date }} {% endcomment %}
        <div class="grid justify-items-center bg-white px-20 py-4 rounded text-black w-full text-sm"> 
          <div class="grid justify-self-start text-[#3C3C3B] pb-2">
            Ngày thuê
          </div>
          <div
            class="relative border border-l-2 border-l-[#3C3C3B] w-full p-3 rounded mb-4 shadow-lg focus-within:ring-1 focus-within:ring-[#0FB3AF]">
            <input type="date"
              class="bg-gray-50 text-gray-900 text-sm rounded-lg self-center w-full pl-2 focus:outline-none"
              value="{{ rent_form.start_date }}" >
          </div>
          <div class="grid justify-self-start text-[#3C3C3B] pb-2">
            Ngày trả
          </div>
          <div
            class="relative border border-l-2 border-l-[#3C3C3B] w-full p-3 rounded mb-4 shadow-lg focus-within:ring-1 focus-within:ring-[#0FB3AF]">
            <input type="date"
              class="bg-gray-50 text-gray-900 text-sm rounded-lg self-center w-full pl-2 focus:outline-none"
              value="{{ rent_form.end_date }}" >
          </div>

        </div>
        <div class="grid justify-items-center pb-4">
          <hr style="width: 100%; height: 1px; background-color: #C4C4C4;">
          <div class="pt-4">
            <table>
              <tbody>
                <tr>
                  <td>Tiền thuê</td>
                  <td class="pl-16">{{ rent_form.rental_price.value }}</td>
                </tr>
                {% comment %} <tr>
                  <td>Tiền cọc</td>
                  <td class="pl-16">{{ rent_form.deposit_price.value }}</td>
                </tr> {% endcomment %}
                {% comment %} <tr>
                  <td>Tổng tiền</td>
                  <td class="pl-16">{{ rent_form.total_price.value }}</td>
                </tr>  {% endcomment %}
              </tbody>
            </table>
          </div>
          <div class="pt-4 text-xs">
            <div class="pl-4 pb-2 text-[#0FB3AF]">Thông tin và điều khoản</div>
            <div class="border border-[#3C3C3B] rounded-lg p-2">
              <p>
                + Mỗi lần thuê chỉ thuê duy nhất được 1 boardgame.</p>
              <p>+ Thời gian giữ chỗ tối đa là 12 tiếng tính từ khi đặt chỗ thành công.</p>
              <p>+ Tiền thuê game sẽ bằng tổng tiền thuê và tiền cọc của các bộ game được
                chọn.</p>
              <p></p>
              <p>+ Số ngày có thể thuê tối đa là 60 ngày.</p>
              <p>+ Phải trả lại boardgame theo đúng thời hạn (nếu trễ nộp thêm ?k /ngày).</p>
              <p>+ Phải trả lại nguyên vẹn như khi được giao (nếu hư, mất nộp thêm ?k/chi
                tiết).
              </p>
            </div>
          </div>
          <div class="flex items-center pt-4">
            <div class="flex items-center h-5">
              <input id="remember" aria-describedby="remember" type="checkbox"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 accent-[#3C3C3B] checked">
            </div>
            <div class="ml-3 pr-16 text-sm text-[#3C3C3B] text-xs">
              <label for="remember" class="text-[#3C3C3B] text-xs">Tôi đã đọc và đồng ý với
                thông tin và điều khoản trên</label>
            </div>
          </div> 
        </div>

        <div class="flex gap-32 justify-center  w-full">
          <button type="submit" 
                  class="bg-[#0FB3AF] hover:bg-[#0FB3AFCC] rounded px-5 text-md text-center cursor-pointer h-8 text-white ">
                  Xong
          </button>
          <a type="button" href="{% url "boardgame:detail" boardgame.bgid %}" class="bg-[#C32F2F] hover:bg-[#C32F2FCC] rounded px-5 text-md text-center cursor-pointer h-8
          text-white">Hủy</a>
        </div>
      </form>
    <!--Front End - Thông báo đặt chỗ -->
    <!-- <div id="failed"
      class="hidden grid justify-items-center max-w-lg p-6 bg-white border border-gray-300 fixed z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-md py-6 space-y-5 drop-shadow-lg">
      <i class="fa fa-exclamation-circle fa-5x text-[#B30F0F]" aria-hidden="true"></i>
      <p class="text-[#B30F0F] text-xl font-bold">Đặt chỗ thuê không thành công</p>
      <p class="font-normal text-sm text-center text-black">Bạn đang thuê 1 boardgame khác nên không thể đặt chỗ
        boardgame mới được (thời gian còn lại của boardgame cũ > 12 tiếng)</p>
    </div>

    <div id="successful"
      class="hidden grid justify-items-center max-w-lg p-32 bg-white border border-gray-300 fixed z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-md py-6 space-y-5 drop-shadow-lg">
      <i class="fa fa-check-circle fa-5x text-[#0FB3AF]" aria-hidden="true"></i>
      <p class="text-[#0FB3AF] text-xl font-bold">Đặt chỗ thuê thành công</p>
      <p class="font-normal text-sm text-center text-black">Bạn đã đặt chỗ thuê thành công</p>
    </div>
  -->

    <!-- Javascript code -->
    {% comment %} <script>
      var openButton = document.getElementById('open');
      var dialog = document.getElementById('dialog');
      var closeButton = document.getElementById('close');
      var overlay = document.getElementById('overlay');
      var submitButton = document.getElementById('submit');
      var failed = document.getElementById('failed');
      var successful = document.getElementById('successful');

      // show the overlay and the dialog
      openButton.addEventListener('click', function () {
        dialog.classList.remove('hidden');
        overlay.classList.remove('hidden');
      });

      // hide the overlay and the dialog
      closeButton.addEventListener('click', function () {
        dialog.classList.add('hidden');
        overlay.classList.add('hidden');
      });
      submitButton.addEventListener('click', function () {
        if (false) {
          successful.classList.remove('hidden');
          dialog.classList.add('hidden');
          overlay.classList.remove('hidden');
          setTimeout(STimeout, 2000);
        }
        else {
          failed.classList.remove('hidden');
          dialog.classList.add('hidden');
          overlay.classList.remove('hidden');
          setTimeout(STimeout, 2000);
        }
      });

      function STimeout() {
        successful.classList.add('hidden');
        failed.classList.add('hidden');
        overlay.classList.add('hidden')
      }
    </script>  {% endcomment %}
  </div>
{% endblock %}